@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4E9F3D;
  min-height: 100vh;
}

.wrapper {
  padding: 25px 30px;
  background: #fff;
  width: 410px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.wrapper header {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
}

.wrapper form{
  margin: 40px 0 20px 0;
}

form :where(select, input, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

form p {
  font-size: 18px;
  margin-bottom: 5px;
}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #0B4619;
}

form input:focus {
  border: 2px solid #0B4619;
}

form .drop-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box {
  display: flex;
  width: 120px;
  height: 50px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #0B4619;
}

.select-box img {
  max-width: 25px;
}

.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar{
  width: 8px;
}
.select-box select::-webkit-scrollbar-track{
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.drop-list .icon {
  cursor: pointer;
  font-size: 22px;
  margin-top: 30px;
}

form .exchange-rate {
  font-size: 17px;
  margin: 20px 0 30px;
}

form button {
  height: 52px;
  color: #fff;
  font-size: 17px;
  background-color: #3E7C17;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #4E9F3D;
}
